<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passaic County</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<button id="back_button"><a href="{{ url_for('index') }}" id="back">Back</a></button>
<h1> Passaic County Emissions</h1>
<div class="content">
<p>Emissions shown in metric tons of carbon dioxide.</p>
<table>
            <!-- column header for loop in jinja template -->
            <thead>
                <tr>
                {%for head in heads%}
                    <th>{{head}}</th>
                {%endfor%}
                </tr>
            </thead>
            <!-- nested for loops in jinja template -->
            <tbody>
            {%for row in rows%}
                <tr>
                {%for col in row%}
                    <td>{{col}}</td>
                {%endfor%}
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>